<div class="container">
  <p>Owner: <%= @restaurant.user.full_name %></p>
  <%= simple_form_for [ @restaurant, @booking ] do |f| %>
    <%= f.input :datetime %>
    <%= f.input :number_of_customers,as: :select, collection: [0, 1, 2, 3, 4, 5] %>
    <%= f.submit "Submit booking", class: "btn btn-primary" %>
  <% end %>
</div>
