<% @tables.each do |table| %>
  <ul class="list-inline">
    <li>Capacity: <%= table.capacity %></li>
    <li>Status: <%= table.status %></li>
    <li>Number: <%= table.number_of_table %></li>
  </ul>
<% end %>


<%= simple_form_for [ @restaurant, @booking ] do |f| %>
  <%= f.input :datetime %>
  <%= f.input :number_of_customers,as: :select, collection: [0, 1, 2, 3, 4, 5] %>
  <%= f.input :table_id %>
  <%= f.submit "Submit booking", class: "btn btn-primary" %>
<% end %>
