<div class="container">
  <% @restaurant.tables.each do |table| %>
    <ul class="list-inline">
      <li>Capacity: <%= table.capacity %></li>
      <li>Status: <%= table.status %></li>
      <li>Number: <%= table.number_of_table %></li>
    </ul>
  <% end %>
  <h2>Booking status: <%= @booking.status %></h2>
  <h2>Owner: <%= @restaurant.user.full_name %></h2>
  <%= simple_form_for [ @restaurant, @booking ] do |f| %>
    <%= f.input :datetime %>
    <%= f.input :number_of_customers,as: :select, collection: [0, 1, 2, 3, 4, 5] %>
    <%= f.submit "Submit booking", class: "btn btn-primary" %>
  <% end %>
</div>
