<div class="container">
  <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id  %>
      <ul>
        <li><%= " you booked a table at #{booking.starts_at}" %></li> 
        <%# .strftime("Booked for the %d/%m/%y at %H%p") %>
        <li><%= booking.status %></li>
        <li><%= booking.table.restaurant.name %></li>
        <li><%= booking.table.restaurant.address %></li>
        <li><%= booking.table.id %></li>
      </ul>
    <% end %>
  <% end %>
</div>
