<div class="card-category-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <strong>My bookings</strong>
</div>
<div data-controller='tab'>
  <div class="tab">
    <button class='active' data-tab-target="button" data-tabname='coming' class="tablinks" data-action='click->tab#change_tab'>Coming</button>
    <button data-tab-target="button" data-tabname='previous' class="tablinks" data-action='click->tab#change_tab'>Previous</button>
    <button data-tab-target="button" data-tabname='favourite' class="tablinks" data-action='click->tab#change_tab'>MyFavourites</button>
  </div>

   <div id="coming"  data-tab-target='tabs'>
      <div class="container container-booking">
        <% @bookings.each do |booking| %>
          <%= link_to restaurant_path(booking.table.restaurant) do %>
            <% if booking.status == "booked" %>
              <div class="card-booking">
              <img src='<%= booking.table.restaurant.photo_url %>'>
                <div class="card-booking-info">
                  <% if booking.user_id == current_user.id  %>

                    <%= " You booked a table at" %>
                    <%# .strftime("Booked for the %d/%m/%y at %H%p") %>
                    <%#= booking.status %>
                    <h1><%=booking.table.restaurant.name %></h1>
                      <p>
                        <%="When: #{booking.starts_at.strftime("%B %dth, %Y at %H:%M")}"%><br>
                        <%="Address: #{booking.table.restaurant.address}" %>
                      </p>
                    <%#= booking.table.id %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="previous" class='d-none' data-tab-target='tabs'>
      <div class="container container-booking">
        <% @bookings.last(8).each do |booking| %>
          <%= link_to restaurant_path(booking.table.restaurant) do %>
            <% if booking.status != "booked" %>
              <div class="card-booking">
                <img src='<%= booking.table.restaurant.photo_url %>'>
                  <div class="card-booking-info">
                    <% if booking.user_id == current_user.id %>
                      <%= " You have been to " %>
                      <%# .strftime("Booked for the %d/%m/%y at %H%p") %>
                      <%#= booking.status %>
                     <h1><%= booking.table.restaurant.name %></h1>
                      <p>
                        <%=booking.starts_at.strftime("on %B %d, %Y")%><br>
                        <%= booking.table.restaurant.address %>
                      </p>
                    <%#= booking.table.id %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="favourite" class='d-none' data-tab-target='tabs'>
      <div class="container container-booking">
        <%current_user.all_favorites.each do |favorite| %>
          <%= link_to restaurant_path(favorite.favoritable) do %>
            <div class="card-booking">
              <img src='<%= favorite.favoritable.photo_url %>'>
                <div class="card-booking-info">
                    <%# .strftime("Booked for the %d/%m/%y at %H%p") %>
                    <%#= booking.status %>
                    <h1><%= favorite.favoritable.name %></h1>
                    <p>
                      <%= favorite.favoritable.address %>
                    </p>
                    <%#= booking.table.id %>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
