<% if @order.status == "paid" %>
  <%= render "pages/thank_you" %>
<% else %>
  <div class="container mt-5">
    <h1 class="text-center ">Welcome at: <%= @table.restaurant.name %></h1>
    <h3 class="text-center" style="font-weight: 400"> Enjoy your time! </h3>
  </div>


  <div class="menu-container">
    <!-- Menu drink -->
    <div class="menu-item">
      <h1>Drinks</h1>
        <!-- hot drinks -->
        <% if @hot_drinks.present? %>
          <div class="menu-item-name">
            <h4>Hot Drinks</h4>
          </div>
          <ul class="change-ul">
            <% @hot_drinks.each do |hot_drink|%>
              <li class="menu-item-to-flex list-inline">
                <div class="text-menu-item">
                  <p><%= hot_drink.item_name%> - <strong><%= humanized_money_with_symbol(hot_drink.price / 100) %></strong></p>
                </div>
                <div class="order-form-container">
                  <%= simple_form_for [@order, @order_item], remote: true, html: {class: "order-form"} do |f| %>
                    <%= f.input :quantity, label: false, collection: 1..5 %>
                    <%= f.input :menu_item_id, as: :hidden, input_html: {value: hot_drink.id} %>
                    <%= f.button :submit, "add", class: 'btn btn-light'%>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
        <!-- beers -->
        <% if @beers.present? %>
          <div class="menu-item-name">
            <h4>Beers</h4>
          </div>
          <ul class="change-ul">
            <% @beers.each do |beer|%>
              <li class="menu-item-to-flex list-inline">
                <div class="text-menu-item">
                  <p><%= beer.item_name %> - <strong><%= humanized_money_with_symbol(beer.price / 100) %></strong></p>
                </div>
                <div class="order-form-container">
                  <%= simple_form_for [@order, @order_item], remote: true, html: {class: "order-form"} do |f| %>
                    <%= f.input :quantity, label: false, collection: 1..5 %>
                    <%= f.input :menu_item_id, as: :hidden, input_html: {value: beer.id} %>
                    <%= f.button :submit, "add", class: 'btn btn-light'%>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      <!-- wine -->
      <% if @wines.present? %>
        <div class="menu-item-name">
          <h4>Wines</h4>
        </div>
        <ul class="change-ul">
          <% @wines.each do |wine|%>
            <li class="menu-item-to-flex list-inline">
              <div class="text-menu-item">
                <p><%= wine.item_name %> - <strong><%= humanized_money_with_symbol(wine.price / 100) %></strong></p>
              </div>
              <div class="order-form-container">
                <%= simple_form_for [@order, @order_item], remote: true, html: {class: "order-form"} do |f| %>
                  <%= f.input :quantity, label: false, collection: 1..5 %>
                  <%= f.input :menu_item_id, as: :hidden, input_html: {value: wine.id} %>
                  <%= f.button :submit, "add", class: 'btn btn-light'%>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <!-- Menu Food -->
    <div class="menu-item" style="border-top: 3px solid white; padding-top: 30px;">
      <h1>Foods</h1>
      <!-- starters -->
      <% if @starters.present? %>
        <div class="menu-item-name">
          <h4>Starters</h4>
        </div>
        <ul class="change-ul">
          <% @starters.each do |starter|%>
            <li class="menu-item-to-flex list-inline">
              <div class="text-menu-item">
                <p><%= starter.item_name %> - <strong><%= humanized_money_with_symbol(starter.price / 100) %></strong></p>
              </div>
              <div class="order-form-container">
                <%= simple_form_for [@order, @order_item], remote: true, html: {class: "order-form"} do |f| %>
                  <%= f.input :quantity, label: false, collection: 1..5 %>
                  <%= f.input :menu_item_id, as: :hidden, input_html: {value: starter.id} %>
                  <%= f.button :submit, "add", class: 'btn btn-light'%>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <!-- Main dishes -->
      <% if @main_dishes.present? %>
        <div class="menu-item-name">
          <h4>Main Dishes</h4>
        </div>
          <ul class="change-ul">
            <% @main_dishes.each do |main_dishe|%>
              <li class="menu-item-to-flex list-inline">
                <div class="text-menu-item">
                  <p><%= main_dishe.item_name %> - <strong><%= humanized_money_with_symbol(main_dishe.price / 100) %></strong></p>
                </div>
                <div class="order-form-container">
                  <%= simple_form_for [@order, @order_item], remote: true, html: {class: "order-form"} do |f| %>
                    <%= f.input :quantity, label: false, collection: 1..5 %>
                    <%= f.input :menu_item_id, as: :hidden, input_html: {value: main_dishe.id} %>
                    <%= f.button :submit, "add", class: 'btn btn-light'%>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
      <% end %>
      <!-- Dessert -->
      <% if @desserts.present? %>
        <div class="menu-item-name">
          <h4>Desserts</h4>
        </div>
        <ul class="change-ul">
          <% @desserts.each do |dessert|%>
            <li class="menu-item-to-flex list-inline">
            <div class="text-menu-item">
              <p><%= dessert.item_name %> - <strong><%= humanized_money_with_symbol(dessert.price / 100) %></strong></p>
            </div>
            <div class="order-form-container">
              <%= simple_form_for [@order, @order_item], remote: true, html: {class: "order-form"} do |f| %>
                <%= f.input :quantity, label: false, collection: 1..5 %>
                <%= f.input :menu_item_id, as: :hidden, input_html: {value: dessert.id} %>
                <%= f.button :submit, "add", class: 'btn btn-light'%>
              <% end %>
            </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <!-- Cards -->
  <div class="pending-orders-container">
    <div id="pending">
      <% if @order.order_items.where(status: "pending").present? %>
        <div class="container-cards">
          <h2>Pending Orders</h2>
            <div class="card-infos">
              <ul class="list-inline">
                <% @order.order_items.each do |order_item| %>
                  <% if order_item.status == "pending" %>
                    <li class="text-center">
                      <p>
                        <%= order_item.quantity %>X -
                        <strong><%= order_item.menu_item.item_name %></strong>
                        -
                        for: <%= humanized_money_with_symbol(order_item.price_cents.to_f / 100) %>
                        | <%= link_to "Remove", order_item_path(order_item), method: :delete, remote: :true  %>
                      </p>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="d-flex justify-content-center">
              <%= link_to "Validate your order", validate_order_path(@order), class: "btn btn-warning", method: :patch, remote: true %>
              </div>
            </div>
        </div>
      <% end  %>
    </div>
  </div>
  <div class="pending-orders-container">
    <% if  @order.order_items.where(status: "sent").present? %>
      <div class="container-cards">
        <h2 id="ordered">Your basket</h2>
          <div class="cards-infos">
            <ul class="list-inline">
              <% @bill = [] %>
                <% @order.order_items.each do |order_item| %>
                  <% if order_item.status == "sent" %>
                    <% @bill << order_item.price_cents.to_f %>
                    <li class="text-center">
                        <strong><%= order_item.menu_item.item_name %></strong>
                        for: <%= humanized_money_with_symbol(order_item.price_cents.to_f / 100) %>
                    </li>
                  <% end %>
                <% end %>
            </ul>
            <div class="d-flex justify-content-center">
              <p>Total Bill: <strong><%= humanized_money_with_symbol(@bill.sum / 100) %></strong></p>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to "Pay Now", order_new_payment_path(@order), class: "btn btn-warning" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% end %>
