<div class="home-banner">
  <p>
    <span id="banner-typed-text" class="text-white"></span>
  </p>
  <div class="container">
    <div class="homepage-title">
      <h1>Find a table in your favorite places !</h1>
    </div>
      <%#= link_to "See Restaurants", restaurants_path, class: "btn btn-warning" %>
    <div class="form-container">
      <%= form_tag restaurants_path, method: :get, class: "banner-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Localisation"
        %>
        <%= submit_tag "Search", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
<div class="cards-container">
  <div class = "row homepage_cards justify-content-center">
    <!-- <div class="homepage_cards"> -->
    <div class="homepage_card col-lg col-md-4" style="background-image: url(https://images.unsplash.com/photo-1599458252573-56ae36120de1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudCUyMHJlc2VydmVkfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
      <%= link_to "Find a table", restaurants_path %></span>
    </div>

    <div class="homepage_card col-lg col-md-4" style="background-image: url(https://images.unsplash.com/photo-1548529793-1325ac6b99a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
      <%= link_to "Discover offers", restaurants_path %></span>
    </div>

    <div class="homepage_card col-lg col-md-4" style="background-image: url(https://images.unsplash.com/photo-1560508179-b2c9a3f8e92b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80)">
      Get inspired
    </div>

    <div class="homepage_card col-lg col-md-4" style="background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
      My favorites
    </div>
  </div>
</div>



