<div class="card">

  <div class="picture">
    <img src="https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" alt="bar">
  </div>

  <div class="column">
    <div class="summary">
      <ul class="list-inline">
        <li>Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
        <li>Address: <%= restaurant.address %></li>
<!--         <li>Owner: <%#= restaurant.user.full_name %></li> -->
        <li>
<!--           <%# x = 0%>
          <%# restaurant.tables.each do |table|%>
            <%#if table.status != "booked"%>
              <%# x += 1%>
            <%#end%>
          <%#end%> -->
          <%="#{restaurant.number_of_tables_available} tables available"%>
        </li>

         <%="#{restaurant.average_rating}/5"%>
       <!--  To buy:
        <li><%# restaurant.menu_items.each do |item| %></li>
          <ul>
            <li><%#= item.item_name %> - <%#= item.price %> € - <%#= item.category %></li>
          </ul>
        <%# end %> -->
      </ul>
    </div>
    <!-- Button trigger modal -->
    <div class="booking-button">
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
        book a table here
      </button>
      <div class="container">
      <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book a table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [restaurant, @booking] do |f| %>
                  <%= f.input :starts_at, as: :string, required: true, input_html: {class: "datepicker"} %>
                  <%= f.input :ends_at, as: :string, required: true, input_html: {class: "datepicker"} %>
                  <%= f.input :number_of_customers,as: :select, collection: [1, 2, 3, 4, 5] %>
                  <%= f.submit "Submit booking", class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
