<div class="card-product position-relative mb-3 mr-3">

  <div class="">
    <img src='<%= restaurant.photo_url %>' alt='bar'>
  </div>


  <div class="card-product-infos">
    <h4> <%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
    <ul>
      <!-- <li><p>Address: <%#= restaurant.address %></p></li> -->
      <li>
        <% if restaurant.number_of_tables_available == 0 %>
        <p>Fully Booked</p>
        <% elsif restaurant.number_of_tables_available == 1 %>
          <p><%="#{restaurant.number_of_tables_available} table left"%></p>
        <% else %>
          <p><%="#{restaurant.number_of_tables_available} tables available"%></p>
        <% end %>

      </li>
      <li>
        <% if restaurant.reviews.count == 0 %>
          <p>Rating: No review yet</p>
        <% elsif restaurant.reviews.count == 1 %>
          <p>Rating: <%="#{restaurant.average_rating.ceil(1)}/5 - #{restaurant.reviews.count} review"%></p>
        <% else %>
          <p>Rating: <%="#{restaurant.average_rating.ceil(1)}/5 - #{restaurant.reviews.count} reviews"%></p>
        <% end %>
      </li>
    </ul>
    <div class="booking-button">
      <button type="button" class="button-booking" data-toggle="modal" data-target="#restaurant-modal-<%= restaurant.id %>">
        book a table here
      </button>
      <!-- Modal -->
      <div class="card-container">
        <div class="modal fade" id="restaurant-modal-<%= restaurant.id %>" tabindex="-1" aria-labelledby="restaurant-modal-<%= restaurant.id %>-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h5 class="modal-title card-content" id="restaurant-modal-<%= restaurant.id %>-label">Book a table</h5> -->
                <div class="card-img text-center">
                  <h3>Book a table</h3>
                  <img src='<%= restaurant.photo_url %>' alt='bar'>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body form-row">
                <%= simple_form_for [restaurant, @booking] do |f| %>
                  <%= f.input :starts_at, placeholder: 'Which date?', label: false, as: :string, required: true, input_html: {class: "datepicker my-3"} %>
                  <%= f.input :ends_at, label: false, prompt: 'What time?', as: :select, collection: @time_slots, required: true, input_html: {class: "my-3"} %>
                  <%= f.input :number_of_customers, label: false, placeholder: 'How many persons?', as: :integer, input_html: { min: '0', max: '25', step: '1', class: "my-3"} %>
                  <%= f.submit "Submit booking", class: "btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%if current_user %>
    <div class="favorite m-4 position-absolute ">
      <%= link_to restaurant_favoritize_path(restaurant), method: :post, remote: true do %>
        <% if current_user.favorited?(restaurant) %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        <% end %>
      <% end %>
    </div>
  <%end%>
    <!-- Button trigger modal -->
</div>
