<!-- <div class="content mt-5"> -->
  <!-- Filter -->
  <div class='container mt-5 pt-5'>
    <div class="form-container">
        <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search here!"
        %>
        <%= submit_tag "Submit", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex cards-map mr-0 pr-0 mt-5 ">
      <div class="restaurant-cards d-flex flex-column col-8">
        <!-- List of restaurants -->
          <% @restaurants.each do |restaurant| %>
            <%= render "card", restaurant: restaurant %>
          <% end %>
      </div>

      <div class="col-4 col-offset-8">
        <!-- Map -->
        <div class="map sticky-top">
            <div id="map"
                 style="width: 100%; height: 90vh;"
                 data-markers="<%= @markers.to_json %>"
                 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
      </div>
  </div>
