<div class=container>
  <h2><%= @restaurant.name %></h2>
  <h2><%= @restaurant.address %></h2>

  <%= link_to 'Home', root_path %>
  <%= link_to "Back", :back %>
  <%= link_to 'Add a Review', new_restaurant_review_path(@restaurant) %>
 
  <% x = 0%>
  <% @restaurant.tables.each do |table|%>
    <%if table.status != "booked"%>
      <% x += 1%>
    <%end%>
  <%end%>
  <%="#{x} tables available / #{@restaurant.tables.count} tables"%>
  <% available_table = x%>
  <% total_table = @restaurant.tables.count%>
  <% if available_table == 0%>
    <div class='unavailable' style='background-color: red'><%= "red" %></div>
  <% elsif available_table/total_table < 0.25%>
    <div class='few_places' style='background-color: orange'><%= "orange" %></div>
  <% else%>
    <div class='available' style='background-color: green'><%= "green" %></div>
  <% end %>
    

  <%= month_calendar do |date| %>
  <div><%= date.day %></div>
  <div id="<%= date.day %>-<%= date.month %>" data-month = "<%= date.month %>" ></div>
<% end %>
      
    <div>
        <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id  %>
        <ul>
          <li><%= " you booked a table at #{booking.starts_at}" %></li> 
          <%# .strftime("Booked for the %d/%m/%y at %H%p") %>
          <li><%= booking.status %></li>
          <li><%= booking.table.restaurant.name %></li>
          <li><%= booking.table.restaurant.address %></li>
          <li><%= booking.table.id %></li>
        </ul>
      <% end %>
    <% end %>
    </div>

  <% @restaurant.reviews.first(5).each do |review| %>
    <li class="list-group-item">
      <small>
        <% count = 0 %>
          <% 5.times do %>
            <% if review.rating > count %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
              <% count += 1 %>
          <% end %>
      </small>
        <p><%= review.content %></p>
        <p><%= review.user.first_name %></p>
        <% if current_user == review.user %>
          <%= link_to 'Edit Review', edit_restaurant_review_path(@restaurant, review) %>
        <% end %>
    </li>
  <% end %>
</div>

